/* font */
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
$family-sans-serif: "Nunito", sans-serif;

/* theme colors */
$dark-but-not-black: #2C2F33;
$not-quite-black: #23272A;
$gold: #FBC403;
$goldenrod: #FBFCD4;
$golden-yellow: #FFDD03;
$blurple: #7289DA;
$error: #FFC0CB;
$sucess: #50C878;

/* primary scheme */
$scheme-main: $dark-but-not-black;
$scheme-invert: $goldenrod;

/* default color overrides */
$primary: $gold;
$info: $goldenrod;
$link: $gold;
$dark: $dark-but-not-black;
$danger: $error;
$text: #fffcec;

/* text content */
$text-strong: $golden-yellow;

/* buttons */
$button-border-color: $gold;
$link-hover: $golden-yellow;

/* navbar */
$navbar-item-color: $scheme-invert;
$navbar-dropdown-item-hover-color: $gold;
$navbar-breakpoint: 600px;
$navbar-item-hover-background-color: $not-quite-black;

/* footer */
$footer-background-color: $dark;

/* code blocks */
$code: $golden-yellow;
$code-background: $dark-but-not-black;

/* menus */
$menu-item-color: $gold;
$menu-item-hover-background-color: $goldenrod;
$menu-item-active-background-color: $goldenrod;
$menu-label-color: $primary;

/* code */
$pre-background: $dark;

/* forms */
$control-border-width: 2px;
$input-background-color: $not-quite-black;
$input-border-color: transparent;
$input-icon-active-color: $blurple;
$input-icon-color: $blurple;
$input-disabled-background-color: $not-quite-black;
$input-disabled-border-color: $dark;
$input-shadow: none;

$divider-font-size: 15px;
$weight-semibold: 15;
$divider-margin-size: 30px;
$divider-background-color: $goldenrod;
$divider-margin-inner-size: 0px;

/* divider */
@import "./divider.scss";

/* nprogress */
@import "./nprogress.scss";

/* bulma */
@import "../node_modules/bulma/bulma.sass";