.textarea-custom ::placeholder {
    opacity: 0.45;
    color: #FBFCD4;
}

.hoverable-icon:hover {
    cursor: pointer;
}

.edit-icon {
    transition: 15ms;
    color: #FBC403;
}

.edit-icon:hover {
    color: hsl(47, 98%, 80%);
}

.delete-icon {
    transition: 15ms;
    color: #FFC0CB;
}

.delete-icon:hover {
    color: hsl(350, 100%, 78%);
}
